/**
 * Typography.
 */

.body {
  font-family: $font-family-body;
  font-size: $font-body;
  font-weight: 400;
  line-height: $line-height;
  margin: 0;
  color: $white;
}

h1,
.h1 {
  font-family: $font-family-body;
  font-size: $h1-font-size;
  font-weight: 400;
  line-height: $h1-line-height;
  margin-bottom: rem(41px);
  margin: rem(38px) 0 rem(41px);
  color: $white;
}