/**
 * Variables.
 */

// Colors
$blue: #3399CC;
$dark-blue: #2B81AC;
$light-blue: #7FB7D7;
$turquoise: #33CCCC;
$purple: #996699;
$red: #C24747;
$orange: #E2674A;
$yellow: #FFCC66;
$lime: #99CC99;
$gray-green: #669999;
$pink: #CC6699;
$green: #339966;
$gray: #666699;
$white: #ffffff;

// Fonts
$font-family-body: "Lucida Sans Unicode", serif;

$font-body: 22px;
$h1-font-size: rem(21px);

$line-height: rem(26px);
$h1-line-height: rem(25px);